@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
}

.scrollbar-hide {
  overflow-y: scroll;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

